body {
    background-image: url(background3_app.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    text-align: center;
}

#log {
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 60px;
    color: rgb(24, 255, 113);
}

.email {
    width: 25%;
    color: rgb(24, 255, 113);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
}

.senha {
    width: 25%;
    color: rgb(24, 255, 113);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
}

#bt{
    background-color: rgb(14, 193, 83);
    border-radius: 8px;
    border-color: rgb(252, 240, 240);
    font-size: 26px;
    color: rgb(252, 240, 240);
    cursor: pointer;
}

#ind{
    color: rgb(24, 255, 113);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    font-size: 60px;
}

#bv{
    color: rgb(24, 255, 113);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    font-size: 25px;
}


.mensagem{
    text-align: center;
    border: 5px solid;
    width: 30%;
    position: absolute;
    border-radius: 10px;
}

.mensagem-sucesso{
    border-color: green;
    width: 30%;
    position: absolute;
    border-radius: 10px;
    text-align: center;
}


.mensagem-erro{
    border-color: red;
    background-color: rgb(214, 6, 6);
    color: white;
    width: 30%;
    position: absolute;
    border-radius: 10px;
    text-align: center;
}

#h2 {
    color: rgb(3, 53, 22);
    text-align: center;
}

.tirar-bola{
    list-style-type: none;
    text-align: center;
}


.palavras{
    color: rgb(14, 193, 83);
    text-align: center;
}

.centralizar{
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    width: 98%;
}

#ult{
    text-align: center;
}

.ultp{
    text-align: center;
}

#h1{
    text-align: center;
    color: rgb(14, 193, 83);
}

#sair{
    text-align: center;
}

#sl{
    color: red;
}

#sr{
    color: red;
}

.botoes{
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    width: 98%;
}
